[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.0"
transformers = ">=4.30"
regex = "*"
huggingface-hub = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
